<h2>Crear Notita</h2>

<form action="/create_new" method="post" enctype="multipart/form-data">

  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
  </p>

  <p>
    <label for="body">Body</label>
    <textarea name="body" id="body" cols="30" rows="10"></textarea>
  </p>

  <p>
    <label for="photo">Photo</label>
    <input type="file" name="photo" id="photo">
  </p>

  <input type="submit" value="Crear notita">

</form> 